*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#contenedor-principal{
    width: 100vh;
    display: flex;
}
#contenedor-login{
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}